@*@model IEnumerable<QuantumITSchoolGPA.Models.Student>*@
@model QuantumITSchoolGPA.Models.Class
<p>
    @Html.ActionLink("Add", "Create", "Student", new { ClassId = Model.Id}, null)
</p>
@Html.Partial("_PartialViewStudentList", Model.Students)