@model OdeToFood.Web.Models.Home.HomeIndexViewModel

@{
    ViewBag.Title = "Index";
}
<ul class="RestaurantList">
    @foreach (var restaurant in Model.Restaurants)
    {
        <li>
            <h4>@Html.DisplayFor(name => restaurant.Name)</h4>
            <p>@restaurant.City, @restaurant.Country</p>
        </li>
    }
</ul>