@model PagedList.IPagedList<OdeToFood.Web.Models.Home.RestaurantListViewModel>
@using PagedList.Mvc;
@using PagedList;
<div class="pagedList">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.MinimalWithItemCountText)
</div>
<ul class="RestaurantList">
    @foreach (var restaurant in Model)
    {
        <li>
            <h4>@Html.DisplayFor(name => restaurant.RestaurantName)</h4>
            <p>@restaurant.City, @restaurant.Country</p>
            <p>Reviews:@restaurant.ReviewNumber</p>
        </li>
    }
</ul>