@model IEnumerable<GPA.Domain.Course>

@{
    ViewBag.Title = "Index";
}

<h2>GPA system of Kata School</h2>
 <div class="courseSection">
     <table>
         <tr>
             <th>Class Name</th>
             <th>Location</th>
             <th>Teacher Name</th>
             <th></th>
             <th></th>
         </tr>
         @foreach (var course in Model)
         {
             <tr>
                 <td>@Html.DisplayFor(model => course.Name)</td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
             </tr>
         }
     </table>
 </div>