@*in order to use the restaurants model sent from home controller here, we need to include the model firstly, as shown below*@
@model IEnumerable<OdeToFoodExercise.Models.RestaurantListViewModel>
@{
    ViewBag.Title = "Home Page";
}
@*now we display the restaurant list here*@
@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.City, @item.Country</div>
        <div>Reviews:@item.CountOfReviews</div>
        <hr />
    </div>
}


