@{
    ViewBag.Title = "Home Page";
}
@using System.Collections.IEnumerable <Department>;
<h1>Department Manager</h1>
@foreach (var item in Model)
{
    <ul>
        <li>
            item.Name
        </li>
    </ul>
    
}