@model IEnumerable<eManager.Domain.Department>

@{
    ViewBag.Title = "All Departments";
}
<h1>@ViewBag.Title</h1>

<ul>
@foreach (var department  in Model)
{
    <li>@Html.ActionLink(department.Name, "detail", "Department", new { department.DepartmentId}, null)</li>
}
</ul>
