@maincolor: #315A80;
@navbar_color:#a3a3a3;
body {
    background-color:@maincolor;
}
.navbar-inverse{
    background-color:@navbar_color;
}
.btn-go{
    border-radius:3px,3px,3px,3px;
}
.analog-clock{
    stroke:lightgrey;
    fill:lightgrey;
    stroke-width: 1;
}
.clock-hand{
    stroke-width:2;
}
#s-hand{
    stroke-linecap:round;
    stroke-linejoin:miter;
}