@model OdeToFoodExercise.Models.Restaurant


@{
    ViewBag.Title = "Index";
}

<h2>The reivews of @Model.Name</h2>

@*create a partial view here*@

@Html.Partial("_Reviews", Model.Reviews)
@*the Reviews property is going to be null by default, to fix this with lazy loading--using a virtual key word
to the definition of Reviews in the Restaurant class *@
<p>
    @Html.ActionLink("Create New", "Create")
</p>